<div class="container">
	<form class="container__form" [formGroup]="frmCalificar">
		<h1>Registro de Libros</h1>
		<label>Titulo</label>
		<input class="field" formControlName="title" />
		<span class="error" *ngIf="frmCalificar.controls.title.hasError('required')">Ingrese el titulo</span>

		<label>Calificación</label>
		<app-star-rating formControlName="rating"></app-star-rating>
		<span class="error" *ngIf="frmCalificar.controls.rating.hasError('min')">La calificación mínima es 2</span>
		<button type="button" (click)="clickSave()">Save</button>
	</form>
</div>